API_BASE_URL= # http://localhost:8000 [development] or https://your-production-url.com [production]
NEXTAUTH_SECRET= # A secret for NextAuth.js authentication
NEXTAUTH_URL= # http://localhost:3000 [development] or https://your-production-url.com [production]